<section>
  
  <div class="px-8 mx-auto max-w-7xl lg:px-24">
    <div class="flex w-full mx-auto border-y border-white/20 lg:py-12">
      <div class="text-center">
        <svg
          class="text-white"
          width="100%"
          height="209"
          viewBox="0 0 1253 209"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M78.0245 107.534L74.6317 121.414H111.644L108.251 107.534C105.784 97.8702 103.316 87.3834 100.849 76.0741C98.3812 64.7648 95.9137 54.0724 93.4462 43.9968H92.2125C90.1562 54.0724 87.8944 64.7648 85.4269 76.0741C82.9594 87.3834 80.4919 97.8702 78.0245 107.534ZM0.915648 205L61.9858 4.5171H126.14L187.211 205H131.075L121.205 162.436H65.0702L55.2002 205H0.915648ZM300.782 208.701C272.817 208.701 251.947 200.476 238.17 184.026C224.393 167.577 217.505 142.285 217.505 108.151V4.5171H270.555V114.32C270.555 132.209 272.92 144.855 277.65 152.258C282.584 159.454 290.295 163.053 300.782 163.053C311.269 163.053 318.98 159.454 323.915 152.258C329.055 144.855 331.626 132.209 331.626 114.32V4.5171H382.826V108.151C382.826 142.285 376.143 167.577 362.778 184.026C349.618 200.476 328.953 208.701 300.782 208.701ZM479.636 205V48.9318H426.585V4.5171H585.738V48.9318H532.687V205H479.636ZM630.909 205V4.5171H683.96V79.1584H743.796V4.5171H796.847V205H743.796V125.424H683.96V205H630.909ZM941.084 208.701C922.578 208.701 906.334 204.589 892.351 196.364C878.369 187.933 867.471 175.904 859.657 160.277C851.843 144.65 847.937 125.835 847.937 103.833C847.937 81.8315 851.843 63.2226 859.657 48.0065C867.471 32.5847 878.369 20.8642 892.351 12.8449C906.334 4.82553 922.578 0.815872 941.084 0.815872C959.59 0.815872 975.834 4.82553 989.817 12.8449C1003.8 20.8642 1014.7 32.5847 1022.51 48.0065C1030.32 63.2226 1034.23 81.8315 1034.23 103.833C1034.23 125.835 1030.32 144.65 1022.51 160.277C1014.7 175.904 1003.8 187.933 989.817 196.364C975.834 204.589 959.59 208.701 941.084 208.701ZM941.084 163.053C953.216 163.053 962.674 157.707 969.46 147.014C976.451 136.322 979.947 121.928 979.947 103.833C979.947 85.5328 976.451 71.4475 969.46 61.5776C962.674 51.5021 953.216 46.4643 941.084 46.4643C929.158 46.4643 919.699 51.5021 912.708 61.5776C905.717 71.4475 902.221 85.5328 902.221 103.833C902.221 121.928 905.717 136.322 912.708 147.014C919.699 157.707 929.158 163.053 941.084 163.053ZM1085.55 205V4.5171H1161.42C1175.82 4.5171 1189.08 6.47052 1201.21 10.3774C1213.34 14.0786 1223.11 20.6585 1230.51 30.1172C1237.92 39.5759 1241.62 52.633 1241.62 69.2885C1241.62 83.6821 1238.64 95.6083 1232.67 105.067C1226.71 114.526 1218.9 121.928 1209.23 127.274L1252.72 205H1193.5L1158.96 137.761H1138.6V205H1085.55ZM1138.6 95.8139H1157.72C1179.11 95.8139 1189.8 86.9721 1189.8 69.2885C1189.8 60.6523 1187.02 54.6892 1181.47 51.3993C1176.13 48.1093 1168.21 46.4643 1157.72 46.4643H1138.6V95.8139Z"
            fill="currentColor"></path>
        </svg>
      </div>
    </div>
  </div>
</section>
