---
import Subscribe from "../forms/Subscribe.astro";
---

<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2><div
    class="px-8 mx-auto max-w-7xl lg:px-24 py-24">
    <div>
      <h1
        class="text-white mt-4 font-semibold text-5xl lg:text-8xl tracking-tighter">
    I'm building something new
      </h1>
      <div class="lg:mt-8 w-3/4">
        <p class="text-lg lg:text-2xl text-white">
         Some of the content is unavailable unless you know where to look (newsletter subscribers can check your e-mail). Until everything is tidyed up, enjoy the articles or content available on the home page.
        </p>
      </div>
    </div>
  </div>
</main>

