<footer aria-labelledby="footer-heading">
  <div class="items-center relative max-w-6xl mx-auto py-12 px-8">
    <div
      class="flex flex-col gap-y-12 items-start justify-between lg:flex-row lg:items-center lg:py-16 pb-6 pt-16">
      <div>
        <div class="flex items-center text-white">
          <div>
            <p class="font-semibold italic lg:text-4xl text-2xl">made for content creators.</p><p
              class="text-sm mt-1 max-w-sm">
             designed by someone who loves making content.
            </p>
          </div>
        </div>

        
      </div>
    </div><div
      class="flex flex-col border-t border-white/10 md:pt-6 pb-12 pt-8">
      <p class="text-zinc-500 md:mt-0 mt-6 text-sm">
        © Copyright <span>2023</span>. Internetery All rights reserved.
      </p>
    </div>
  </div>
</footer>
